<div class="panel panel-info">
  <div class="panel-body">
    <div class="input-group form-group">
      <label for="Rent" id="label-addon1" class="input-group-addon control-label">Rent</label>
      <input type="number" name="Rent" class="form-control" aria-describedby="label-addon1" data-ng-model="rentals.deposit"/>
    </div>
    <div class="input-group form-group">
      <label for="RoomWidth" id="label-addon1" class="input-group-addon control-label">Room Width</label>
      <input type="number" name="RoomWidth" class="form-control" aria-describedby="label-addon1" data-ng-model="rentals.roomWidth"/>
    </div>
    <div class="input-group form-group">
      <label for="RoomWidth" id="label-addon1" class="input-group-addon control-label">Room Depth</label>
      <input type="number" name="RoomWidth" class="form-control" aria-describedby="label-addon1" data-ng-model="rentals.roomDepth"/>
    </div>
    <div class="form-group">
      <button data-ng-click="calculate()" class="btn btn-primary">Compute</button>
    </div>

    <div class="col-md-6">
      <div class="well text-center">
        <h4 class="text-center" data-ng-bind="(rentals.totalRentAmount | currency)"></h4>
        <small class="text-center text-uppercase">Rental</small>
      </div>
      <div class="well text-center">
        <h4 class="text-center" data-ng-bind="(rentals.totalRoomSize)"></h4>
        <small class="text-center text-uppercase">Room Size (Square {{rentals.unitOfMeasure}})</small>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-if="rentals.otherUnitSizes" class="well table-responsive">
        <table class="table table-striped">
          <tr ng-repeat="(key, value) in rentals.otherUnitSizes">
            <th ng-bind="key"></th>
            <td ng-bind="value"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


