<div class="panel panel-default" style="border:none;background-color:transparent;">
  <div class="panel-body">
    <style type="text/css">
      .dirRentals-custom-styling .form-group{
        color: #fff;
      }
      .dirRentals-custom-styling label {
        font-weight: normal;
        font-size: 15px;
      }
      .dirRentals-custom-styling legend {
        color: #fff;
        font-size: 15px;
        margin: 0;
      }
      .dirRentals-custom-styling .custom-input {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-right: 10px;
        width: 40%;
      }
      .dirRentals-custom-styling .inactive-input {
        background: gainsboro;
      }
      .dirRentals-custom-styling .well {
        background:darkslategray;
        padding:12px;
        margin-bottom:10px;
        color:#fff;
        border: none;
        border-radius:0px;
      }
    </style>
    <div class="row  dirRentals-custom-styling">
      <div role="form" class="col-md-12">
        <div class="form-group">
          <div class="custom-input">
            <label for="rents">Rent({{::defaults.currency}})</label>
            <input type="number" name="rents" class="form-control input-sm" data-ng-model="::rentals.rents"/>
          </div>
          <div class="custom-input">
            <label for="sizes">Size({{::rentals.unitOfMeasure}})</label>
            <input type="number" name="sizes" class="form-control input-sm" data-ng-model="::rentals.sizes"/>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-input">
            <label for="depositterm">Deposit({{::rentals.duration}})</label>
            <input type="number" name="depositterm" class="form-control input-sm" data-ng-model="::rentals.depositTerms"/>
          </div>
          <div class="custom-input">
            <label for="utitlies">Utilities({{::rentals.duration}})</label>
            <input type="number" name="utilities" class="form-control input-sm" data-ng-model="::rentals.utilities"/>
          </div>
        </div>
        <div class="well table-responsive">
          <table class="table table-condensed">
            <tr>
              <th colspan="2">Rent per {{::rentals.unitOfMeasure}}:</th>
            <tr/>
            <tr>
              <td colspan="2" ng-bind="::(rentals.unitRent | currency:defaults.currency)" align="right"></td>
            </tr>
            <tr>
              <th colspan="2">Utilities per {{::rentals.unitOfMeasure}}:</th>
            <tr/>
            <tr>
              <td colspan="2" ng-bind="::(rentals.unitUtilities | currency:defaults.currency)" align="right"></td>
            </tr>
            <tr>
              <th colspan="2">Deposit Amount:</th>
            <tr/>
            <tr>
              <td colspan="2" ng-bind="::(rentals.deposit | currency:defaults.currency)" align="right"></td>
            </tr>
            <tr>
              <th colspan="2" >Total Rent ({{::rentals.duration}}):</th>
            </tr>
            <tr>
              <td>First:</td>
              <td ng-bind="::(rentals.totalRentAmount | currency:defaults.currency)" align="right"></td>
            </tr>
            <tr>
              <td>Subsequent:</td>
              <td ng-bind="::((rentals.totalRentAmount - rentals.deposit) | currency:defaults.currency)" align="right"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


